docker-compose.override.yml
docker-compose.ci.yml
docker-compose.dev.yml

*.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log

influxdb_data/
grafana_data/
telegraf/logs/
prometheus_data/